<div
  class="flex align-items-center justify-content-between p-2 relative shadow-1 z-1"
>
  <div class="flex gap-1 align-items-center ml-2">
    <div class="toggle bg-primary" (click)="toggleMenu()" *ngIf="isMenuVisible">
      <i class="pi pi-arrow-right"></i>
    </div>
    <div class="flex align-items-center w-3rem h-3rem">
      <img
        class="h-full w-full"
        style="object-fit: cover"
        [src]="headerLogoUrl"
      />
      <span class="white-space-nowrap text-xl mt-1">
        <b>Ev Dashboard</b>
      </span>
    </div>
  </div>
  <div class="ng-header-right right">
    <div class="dropdown">
      <app-avatar
        [name]="avatarName"
        (click)="overlayVisible = true"
      ></app-avatar>
      <p-overlay
        [(visible)]="overlayVisible"
        [responsive]="{
          breakpoint: '640px',
          direction: 'bottom',
          contentStyleClass: 'h-20rem'
        }"
        appendTo="body"
        contentStyleClass="surface-overlay shadow-2 border-round"
      >
        <ng-template pTemplate="content">
          <div
            class="flex flex-column gap-2 p-3 text-base border-bottom-1 border-200"
          >
            <div class="flex gap-2">
              <app-avatar [name]="avatarName" [showIcon]="false"></app-avatar>
              <div class="flex flex-column">
                <span class="font-semibold text-lg">{{ fullName }}</span>
                <span class="font-semibold text-sm text-600">{{
                  emailId
                }}</span>
              </div>
            </div>
          </div>

          <div class="p-4 py-2 block text-sm border-bottom-1 border-200">
            <span
              class="font-semibold text-sm flex align-items-center gap-2 cursor-pointer py-2 px-0 hover:text-primary"
              ><i class="pi pi-lock"></i> Change Password</span
            >
          </div>
          <div class="w-full p-3">
            <button
              pButton
              class="primary-button w-full flex gap-2 align-items-center justify-content-center"
              (click)="logout()"
            >
              <i class="pi pi-power-off"></i>Log Out
            </button>
          </div>
        </ng-template>
      </p-overlay>
    </div>
  </div>
</div>
